<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Qianni Wang" />
    <meta name="description" content="A web to show katrina's cute cats" />
    <title>Kat's cats</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- NEEDS TO CHANGE-->
    <link rel="stylesheet" href="my-css-file.css" />
    <script src="my-js-file.js" defer></script>
    <!-- NEEDS TO CHANGE-->


  </head>


  <body>
    <h2>About Snowball</h2>
    <p>Snowball's eyes are always widely open when she wants to eat what you are having</p>
    <img src="../images/snowball-want-to-eat.jpg" />
</html>