<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Qianni Wang" />
    <meta name="description" content="A web to show Katrina's cute cats" />
    <title>Kat's Cats</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/prep-list-style.css" />
</head>
<body>
    <h2>Here is all you need to prepare for keeping a cat</h2>
    <div class="container">
        <div class="section">
            <h3>TO BE DONE</h3>
            <div class="item"><img src="images/sanitation.png" alt="Sanitation"><span>Sanitation</span></div>
            <div class="item"><img src="images/disinfection.png" alt="Disinfection"><span>Disinfection</span></div>
            <div class="item"><img src="images/sealing.png" alt="Sealing"><span>Sealing</span></div>
            <div class="item"><img src="images/carrier.png" alt="Carrier"><span>Carrier</span></div>
        </div>
        <div class="section">
            <h3>Food</h3>
            <div class="item"><img src="images/cat-food.png" alt="Cat Food"><span>Dry Food</span></div>
            <div class="item"><img src="images/canned-food.png" alt="Canned Food"><span>Wet Food</span></div>
            <div class="item"><img src="images/cat-snacks.png" alt="Cat Snacks"><span>Treats</span></div>
            <div class="item"><img src="images/probiotics.png" alt="Probiotics"><span>Supplements</span></div>
        </div>
        <div class="section">
            <h3>TO BE DONE</h3>
            <div class="item"><img src="images/cat-bowl.png" alt="Cat Bowl"><span>Bowls</span></div>
            <div class="item"><img src="images/cat-litter.png" alt="Cat Litter"><span>Litter</span></div>
            <div class="item"><img src="images/litter-box.png" alt="Litter Box"><span>Litter Box</span></div>
            <div class="item"><img src="images/scratch-pad.png" alt="Scratch Pad"><span>Scratch Pad</span></div>
        </div>
        <div class="section">
            <h3>TO BE DONE</h3>
            <div class="item"><img src="images/ear-cleaner.png" alt="Ear Cleaner"><span>Ear Cleaner</span></div>
            <div class="item"><img src="images/deworming.png" alt="Deworming"><span>Deworming</span></div>
            <div class="item"><img src="images/brush.png" alt="Brush"><span>Brush</span></div>
            <div class="item"><img src="images/nail-clippers.png" alt="Nail Clippers"><span>Nail Clippers</span></div>
        </div>
    </div>
</body>
</html>
